<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.sena.amasplay.myturn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FiltroActivity" />
        <activity android:name=".RegistroUserActivity" />
        <activity android:name=".RegistroServiActivity" />
        <activity android:name=".Perfil_Usuario_Activity" />
        <activity android:name=".Perfil_Service_Activity" />
        <activity android:name=".Vista_Service_Activity"></activity>
    </application>

</manifest>